/* CRT General */
.crt {
  width:100%;
  height:100%;
  border:none;
}

/* CRT AV-1 */
@-webkit-keyframes overlay-anim {
  0%{
    visibility:hidden;
  }
  20%{
    visibility:hidden;
  }
  21%{
    visibility:visible;
  }
  100%{
    visibility:hidden;
  }
}

@keyframes overlay-anim {
  0%{
    visibility:hidden;
  }
  20%{
    visibility:hidden;
  }
  21%{
    visibility:visible;
  }
  99% { /* Dirty Hack for Firefox, doesn't display: hidden; on 100% */
    visibility:hidden;
  }
  100%{
    visibility:hidden;
  }
}

.crt .av::after {
  content: "AV-1";
  color:#00FF00;
  position:absolute;
  top:1.250em;
  left:1.250em;
  font-size:3.750em;
  visibility:hidden;
  pointer-events:none;
  -webkit-animation:overlay-anim 5s linear;
          animation:overlay-anim 5s linear;
  -webkit-animation-fill-mode:forwards;
          animation-fill-mode:forwards;
}

/* CRT Turn On */
@-webkit-keyframes turn-on {
  0% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 0, 0);
            transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 100%, 0);
            transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    -webkit-transform: scale(1, 0.8) translate3d(0, -100%, 0);
            transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    -webkit-transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
            transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes turn-on {
  0% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 0, 0);
            transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 100%, 0);
            transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    -webkit-transform: scale(1, 0.8) translate3d(0, -100%, 0);
            transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    -webkit-transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
            transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

.turnon {
  -webkit-animation: turn-on 4s linear;
          animation: turn-on 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* CRT Flickr */
@-webkit-keyframes flicker {
  0% {
    opacity: 0.43431;
  }
  5% {
    opacity: 0.15649;
  }
  10% {
    opacity: 0.06808;
  }
  15.0% {
    opacity: 0.87693;
  }
  20% {
    opacity: 0.49808;
  }
  25% {
    opacity: 0.82943;
  }
  30.0% {
    opacity: 0.72971;
  }
  35% {
    opacity: 0.20415;
  }
  40% {
    opacity: 0.30374;
  }
  45% {
    opacity: 0.63213;
  }
  50% {
    opacity: 0.33512;
  }
  55.0% {
    opacity: 0.07749;
  }
  60.0% {
    opacity: 0.53075;
  }
  65% {
    opacity: 0.31205;
  }
  70% {
    opacity: 0.84426;
  }
  75% {
    opacity: 0.49559;
  }
  80% {
    opacity: 0.84204;
  }
  85.0% {
    opacity: 0.76977;
  }
  90% {
    opacity: 0.19048;
  }
  95% {
    opacity: 0.53866;
  }
  100% {
    opacity: 0.34011;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.43431;
  }
  5% {
    opacity: 0.15649;
  }
  10% {
    opacity: 0.06808;
  }
  15.0% {
    opacity: 0.87693;
  }
  20% {
    opacity: 0.49808;
  }
  25% {
    opacity: 0.82943;
  }
  30.0% {
    opacity: 0.72971;
  }
  35% {
    opacity: 0.20415;
  }
  40% {
    opacity: 0.30374;
  }
  45% {
    opacity: 0.63213;
  }
  50% {
    opacity: 0.33512;
  }
  55.0% {
    opacity: 0.07749;
  }
  60.0% {
    opacity: 0.53075;
  }
  65% {
    opacity: 0.31205;
  }
  70% {
    opacity: 0.84426;
  }
  75% {
    opacity: 0.49559;
  }
  80% {
    opacity: 0.84204;
  }
  85.0% {
    opacity: 0.76977;
  }
  90% {
    opacity: 0.19048;
  }
  95% {
    opacity: 0.53866;
  }
  100% {
    opacity: 0.34011;
  }
}

.crt .flicker {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;

}

/* CRT Scanlines */
.crt .scanlines {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
