Source: bitsd
Maintainer: Stefano Sanfilippo et al. <a.little.coder@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-bitsd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Presence server, logger and remote listener.

